<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctions20230111153904.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b754cf49-1fc8-44f8-a596-18b98538f41a/resourcegroups/DefaultResourceGroup-CUS/providers/Microsoft.Web/sites/AzureFunctions20230111153904</ResourceId>
    <UserName>$AzureFunctions20230111153904</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctions20230111153904.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>