<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctions20230113123419.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/761ae014-0a63-4866-948f-5ab0101fba54/resourcegroups/rg-1/providers/Microsoft.Web/sites/AzureFunctions20230113123419</ResourceId>
    <UserName>$AzureFunctions20230113123419</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctions20230113123419.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>